-- DropForeignKey
ALTER TABLE `Activity` DROP FOREIGN KEY `Activity_createdBy_fkey`;

-- DropIndex
-- DROP INDEX `Activity_createdBy_fkey` ON `Activity`;

-- AlterTable
ALTER TABLE `Activity` MODIFY `createdBy` VARCHAR(191) NOT NULL;

-- AlterTable
ALTER TABLE `Review` ADD COLUMN `images` JSON NULL;

-- AddForeignKey
ALTER TABLE `Activity` ADD CONSTRAINT `Activity_createdBy_fkey` FOREIGN KEY (`createdBy`) REFERENCES `staff`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

